body {

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

.style {
    text-indent: 20px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.supralinear {
    vertical-align: super;
    font-size: smaller;
}

br {
    margin-bottom: 3px; /* Adds space below each line break */
}

/*for page 23r with the indented list*/
ul.indent-list {
    list-style-type: none;
    padding-left: 30px;
}

ul.indent-list li {
    margin-bottom: 1px;
}

.container {
    display: flex;
    width: 80%;
}

.main-left, .main-right {
    flex: 1;
    padding: 10px;
}

.main-left img {
    width: 100%; /* Makes the image fill the div */
    height: auto; /* Maintains the aspect ratio of the image */
}